@import "bootstrap/dist/css/bootstrap.min.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.one{
color: red;
}
.hero{
  height: "660px";
   color: "black"; 
  font-size: "40px"; 

}


@media only  screen and (max-width: 1138px){
  .hero{
    height: "450px";
     color: "black"; 
    font-size: "20px"; 
  
  }
}
